<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add-product</title>
    <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a class="active" href="/">shop</a></li>
                <li class="main-header_item a"><a  href="/admin/add-product">add-product</a></li>
            </ul>

        </nav>
    </header>
    <main>
     <h1>My product</h1>
     <p>List of all products...</p>
    </main>
    
</body>
</html>